<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo and User</title>
</head>
<body>
    <h1>User Page</h1>
    <a href="/">home</a>
    <a href="/todos">Todos</a>
    <a href="/users">Users</a>

    <hr/>
    <p>Welcome to my users Lists</p>
</body>
</html>